<html>                                   <!-- ENTRANDO  -->
<head>
    {% load static %}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    
    <link rel="stylesheet" href="{% static 'css/inicio.css' %}">

     {% if request.user.is_authenticated %}
    <p id="titulo" text align="center">Bienvenido, <span id="usuario">{{ request.user.username }}</span>
    <a href="{% url 'Salir' %}" id="cierre">Cerrar Sesión</a></p><br>
     <style>
         #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
</head>
    <div id="map"></div>
    <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 32.6519, lng: -115.4683},
          zoom: 8
          
            
        });
          
       
          var marker = new google.maps.Marker({position: {lat: 32.6519 , lng:-115.4683} ,map: map})
          var triangleCoords = [
          {lat:  32.6519, lng: -115.4683}, // Brasil
          {lat: -14.235004, lng: -51.92527999999999},// Argentina
          {lat: -33.4488897, lng: -70.6692655} // Chile
        ];
       
        // Construyendo el póligono
        var poligono = new google.maps.Polygon({
          paths: triangleCoords,
          strokeColor: 'red',
          strokeOpacity: 0.8,
          strokeWeight: 2,
          fillColor: 'red',
          fillOpacity: 0.35
        });
        poligono.setMap(map);
       
       
          
      }
        
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAuNbv-ASTLjjuledW0xiIqrUjrxu-erX8&callback=initMap"
    async defer></script>
<body>

   
   
    <center>
        <div class="bienvenido"><p></p></div>
    </center>


    {% else %}
    
<!--    <center><div class="bienvenido"><p text align="center">Aún no has iniciado sesión. <span class="llamas"> <br>Inicia sesión </span> o <span class="llamas">registrate</span>.</div> <br><br></center>  

    
   <center>              
   <a href="{% url 'acceso' %}"><input id="btn1" type="button" value="acceso"></a>
    <a href="{% url 'registro' %}"><input id="btn2" type="button" value="registro"></a>
   </center>
   -->
    {% endif %}
    
    
 </body>
</html>