<head>
    {% load static %}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/registro.css' %}">
</head>

 <div class="tit"><a href="{% url 'acceso' %}">Regresar</a><br>
    </div> 
<FORM METHOD="POST" action="" enctype="multipart/form-data">
    <center>
  <p id="titulo"> Regístrate</p> 
        <br>
    {% csrf_token %}
    {{ RegistroForm.as_p }}
        <br>
    <INPUT id="boton" TYPE="SUBMIT" value="Aceptar">
            
        </INPUT>
        </center>
     
</FORM>
    
    
