body{
background: url("../img/color.jpg") no-repeat center center fixed;
background-size: 100%;
}

.lab{
    color:darkblue;
    font-family: cursive;

}
#back{
    float:left;
    
}
    
}
.h1{
    color: black;
    text-align: center;
    margin-bottom: 20px;
}

.la{
    color:darkblue;
    font-family: cursive;
    
}
#btn{
    color:#fff;
    background-color:#343a40;
    width:150px;
    height:40px;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;;
}
#btn:hover{
    background-color: lightgray;
    }

#titulo{
    color: white;
    font-size: 23px;
    background-color: black;
    font-family: serif;
    width: 88%;
    background: rgb(0, 0, 0, 0.5);
}
.tit
{
   color: white;
    font-size: 30px;
    background-color: black;
    font-family: serif;
    opacity: 0.9;
    margin-top:-15px;
}

form
{
  margin: auto;
  width: 40%;
  max-width: 500px;
  background: #000;
  margin-top: 50px;
opacity: 0.9;
font-family: Georgia, 'Times New Roman', Times, serif;


  color:black;
  padding: 40px;
 
}
#boton{
  
    border-color: white;
    color: black;
}