body{
background: url("../img/colo2.jpg") no-repeat center center fixed;
background-size: 100%;
}

#titulo {
    color: white;
    font-size: 50px;
    background-color: #112478;
    font-family: serif;
    opacity: 0.9;
    width:100%;
}
form
{
  margin: auto;
  width: 40%;
  max-width: 800px;
  background:rgba(0,0,0,0.7);
  padding: 40px;

}
#btn1
{
    background:white;
    color:black;
    width: 100px;
    height: 35px;

}
#btn2{
    background:white;
    color:black;

    

}
.bienvenido{
    color: white;
    font-size: 30px;
    font-family: serif;
    background-color: black;
    width: 40%;
    background: rgb(0, 0, 0, 0.7);
    opacity: 0.9;
    margin-top:200 ;
}

#publicaciones{
    color: white;
    font-size: 40px;
    font-family: serif;
    width: 40%;
    background: rgb(0, 0, 0, 0.7);
}

#usuario{
    color: rgb(255, 251, 0);
}

#salir{
    float: right;
    background:yellow;
    color:black;
    width: 100px;
    height: 30px;
    margin: auto;
   

}

.llamas{
    color:#E4DE15;
}

.h2{
    color: white;
    text-align: center;
    margin-bottom: 20px;
    margin-left:10%;
   
    
}
#boton{
    background:white;
    color:black;
    
    
}

form
{
  margin: 50;
  width: 25%;
  max-width: 500px;
  background: #112478;
  margin-top: 50px;
    float: left;
    font-family: Georgia, 'Times New Roman', Times, serif;


  color:black;
opacity: 0.9;
  padding: 40px;
    width: 50%;
    margin-left:30%;
    border-color:black;
    
 
 

}