body{
background: url("../img/color.jpg") no-repeat center center fixed;
background-size: 100%;
}


#titulo {
    color: white;
    font-size: 40px;
    background-color: #112478;
    font-family: serif;
    opacity: 0.9;
}


#cierre{
    margin-left:53%;
    font-size: 30px
    
}
form
{
  margin: auto;
  width: 40%;
  max-width: 800px;
  background:rgba(0,0,0,0.7);
  padding: 40px;

}
#btn1
{
    background:yellow;
    color:black;
    width: 100px;
    height: 35px;
    border-color: white;
}
#btn2{
    background:yellow;
    color:black;
    width: 100px;
    height: 35px;
    border-color: white;

}
.bienvenido{
    color: #37352B;
    font-size: 30px;
    font-family: serif;
    background-color: #E8C917;
    width: 40%;
    opacity: 0.8;
    margin-top:200 ;
}

#publicaciones{
    color: white;
    font-size: 40px;
    font-family: serif;
    background-color: black;
    width: 40%;
    background: rgb(0, 0, 0, 0.7);
}

#usuario{
    color: white;
}

#salir{
   
    font-size:20px;
    color:black;
    width: 135px;
    background-color:yellow;
    height: 35px;

    border-radius:10px;
    margin: auto;
    margin-left:10%;

}

.llamas{
    color:#E4DE15;
}